.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    height: 60px;
}

.container input {
    width: 400px;
    height: 30px;
    background: rgba(128, 128, 128, 0.486);
    border-radius: 20px;
    border: none;
    color: antiquewhite;
}

.container button {
    height: 36px;
    background-color: black;
    border: none;
    color: antiquewhite;
    font-size: large;
}